.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: "Space Grotesk", serif;
}
.log{
  transition: background-color 0.3s ease-in-out 100ms;
  border-radius: 14px;
}
.log:hover{

  background-color: #d2c08a;
  border-radius: 14px;
}
.Note{
  background:linear-gradient(to right, #659999 14%, #f4791f 100%);
  -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.offcanvas{
  --bs-offcanvas-width: 300px;
}
.bton{
  transition: all 0.3s ease-in 100ms;

}
.bton:hover{
  transform: scale(1.05);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.addbtn{
   background-color:#B9FF66;
  transition: all 0.3s ease-out;
}
.addbtn:hover{
  background-color: #dedede ;
}
.textareas{
  background-attachment: local;
  background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 32px, #ccc 32px, #ccc 33px, white 33px);
  line-height: 33px;
  padding: 8px 10px;
}
.modal{
  --bs-modal-width:700px
}
.preview:hover{
  transform: scale(1.02);
}

